<div class="log-container">
  <div class="stat-container list-group">
    <!-- repeat logged times -->
    <ul>
      <li *ngFor="let time of loggedTime" class="list-group-item list-group-item-action">{{ time.secs }}:{{ time.mSecs }}</li>
    </ul>
    <ul>
      <li>Best: {{ getBest() }}</li>
      <li>Worst: {{ getWorst() }}</li>
      <li>Avg: {{ getAverage() }}</li>
      <!-- <li>Avg5: 00:00</li> -->
    </ul>
  </div>
  <button class="reset btn btn-primary" (click)="resetLog()">Reset</button>
</div>
