.log-container {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  max-height: 800px;
}

.stat-container {
}

ul {
  margin-left: -1.5em;
}

li {
  list-style-type: none;
  cursor: pointer;
  padding: 3px;
  /* max-height: 5vh; */
}

.reset {
  min-width: 40%;
  height: 35%;
}

@media screen and (min-width: 1500px) {
  .stat-container,
  .reset {
    font-size: 30px;
  }
}
