.timer-container {
  text-align: center;
  max-height: 800px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 10em;
  text-shadow: 1px 1px 3px gray;
  line-height: 1em;
  text-align: center;
}

#startBtn {
  min-width: 40%;
  height: 35%;
  left: 55%;
}

@media screen and (min-width: 1500px) {
  #startBtn {
    font-size: 30px;
  }
}

#flex1 {
  flex: 4;
}

#flex2 {
  flex: 1;
}
